
# Elastic Beanstalk Files
.elasticbeanstalk
.ebextensions
prepare-for-deploy.py
deployment/aws/
*.sqlite3*
test_data/
*.db
*.rdb*
*.venv
venv
.hide
.logs
__pycache__
.coverage
Dockerrun.aws.json
*.env
passport.key.json
_main_/config/*json
.vscode
.massenergize
settings.json