
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
dev.env
prod.env
.ebextensions/securelistener-clb.config
prepare-for-deploy.py
deployment/aws/
*.sqlite3*
test_data/
*.db
*.rdb*
*.venv
venv
.coverage
.logs/

.hide
.logs
__pycache__
.coverage
Dockerrun.aws.json
*.env
passport.key.json
_main_/config/*json
.vscode
.massenergize
settings.json
ec2.sh