name: Tests

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pycurl dependency
      run: sudo apt-get update --fix-missing && sudo apt-get install -y libcurl4-openssl-dev
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements.txt
    - name: Run Tests
      run: |
        make test --directory src
      env:
        SECRET_KEY: ${{ secrets.DEV_SECRET_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
        AWS_STORAGE_BUCKET_NAME: ${{ secrets.DEV_AWS_STORAGE_BUCKET_NAME }}
        AWS_S3_SIGNATURE_VERSION: ${{ secrets.AWS_S3_SIGNATURE_VERSION }}
        AWS_S3_REGION_NAME: ${{ secrets.DEV_AWS_S3_REGION_NAME }}
        AWS_DEFAULT_REGION: ${{ secrets.DEV_AWS_S3_REGION_NAME }}
        DATABASE_ENGINE: django.db.backends.postgresql_psycopg2
        DATABASE_NAME: ${{ secrets.DEV_DATABASE_NAME }}
        DATABASE_USER: ${{ secrets.DEV_DATABASE_USER }}
        DATABASE_PASSWORD: ${{ secrets.DEV_DATABASE_PASSWORD }}
        DATABASE_HOST: ${{ secrets.DEV_DATABASE_HOST }}
        DATABASE_PORT: 5432
        DJANGO_ENV: ${{ secrets.DJANGO_ENV }}
        EMAIL: ${{ secrets.DEV_EMAIL }}
        EMAIL_PASSWORD: ${{ secrets.DEV_EMAIL_PASSWORD }}
        EMAIL_PORT: 527
        FIREBASE_API_KEY: ${{ secrets.DEV_FIREBASE_API_KEY }}
        FIREBASE_AUTH_DOMAIN: ${{ secrets.DEV_FIREBASE_AUTH_DOMAIN }}
        FIREBASE_PROJECT_ID: ${{ secrets.DEV_FIREBASE_PROJECT_ID }}
        FIREBASE_APP_ID: ${{ secrets.DEV_FIREBASE_APP_ID }}
        FIREBASE_MESSAGE_SENDER_ID: ${{ secrets.DEV_FIREBASE_MESSAGE_SENDER_ID }}
        FIREBASE_DATABASE_URL: ${{ secrets.DEV_FIREBASE_DATABASE_URL }}
        FIREBASE_STORAGE_URL: ${{ secrets.DEV_FIREBASE_STORAGE_URL }}
        RECAPTCHA_SECRET_KEY: ${{ secrets.DEV_RECAPTCHA_SECRET_KEY }}
        RECAPTCHA_SITE_KEY: ${{ secrets.DEV_RECAPTCHA_SITE_KEY }}
        FIREBASE_SERVICE_ACCOUNT_PROJECT_ID: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_PROJECT_ID }}
        FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY_ID: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY_ID }}
        FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY }}
        FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL }}
        FIREBASE_SERVICE_ACCOUNT_CLIENT_ID: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_CLIENT_ID }}
        FIREBASE_SERVICE_ACCOUNT_CLIENT_URL: ${{ secrets.DEV_FIREBASE_SERVICE_ACCOUNT_CLIENT_URL }}
        GOOGLE_TRANSLATE_KEY_FILE_NAME: ${{ secrets.GOOGLE_TRANSLATE_KEY_FILE_NAME}}
        GOOGLE_TRANSLATE_KEY_FILE_PATH: ${{ secrets.GOOGLE_TRANSLATE_KEY_FILE_PATH}}
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
